<div class="layout" >
	
	<h1>Coin Labeller</h1>
  
  	<table class="pure-table">
		<tr>
			<th>Country</th>
			<th>Date</th>
			<th>Notes</th>
			<th>Denomination</th>
			<th>Mintage</th>
			<th>Catalog #</th>
			<th>Grade</th>
			<th>Condition</th>
			<th>Extra Notes</th>
			<th>Controls</th>
		</tr>
  	
	    <% @coins.each do |coin| %>
		<tr>
			<td><%= coin.country %></td>
			<td><%= coin.date %></td>
			<td><%= coin.notes %></td>
			<td><%= coin.denomination %></td>
			<td><%= coin.mintage %></td>
			<td><%= coin.catalog_no %></td>
	  		<td><%= coin.grade %></td>
			<td><%= coin.condition_notes %></td>
			<td><%= coin.other_notes %></td>
			<td>
				<%= link_to 'Edit', edit_coin_path(coin), { :class=>"button-success pure-button" } %>
				<%= link_to 'Duplicate', duplicate_coin_path(coin), { :class=>"button-success pure-button" } %>
				<%= link_to 'Delete', delete_coin_path(coin),
				class: "button-error pure-button",
					method: :delete,
		            data: { confirm: 'Are you sure you want to delete this coin?' }%>
			</td>
		</tr>
		<% end %>
		
	   
	
	</table>
	
	<div class="pure-menu pure-menu-horizontal pure-menu-scrollable">
		<ul class="pure-menu-list">
			 <li class="pure-menu-item"><%= link_to 'Add', new_coin_path(), { :class=>"pure-menu-link" } %></li>
			 <li class="pure-menu-item"><%= link_to 'Print', print_coins_path(), { :class=>"pure-menu-link" } %></li>
			 <li class="pure-menu-item"><%= link_to 'Clear All', clear_coins_path(),
			 	class: "pure-menu-link",
			 	method: :delete,
				data: { confirm: 'Are you sure you want to delete all coins?' }%></li>
		</ul>
	</div>

</div>