<div class="layout">
<h1>New Coin Label</h1>
<%= form_for @coin, url: fastinput_coin_path(@coin), html: {class: "pure-form pure-form-aligned"} do |f| %>
	<fieldset>
		<div class="pure-control-group"> 
   			<%= f.label "Fast Input" %>
    		<%= f.text_area :fastinput %>
		</div>
	
    <div class="pure-controls"> 
      <%= f.submit "Apply Fast Input", :class => 'pure-button pure-button-primary' %> 
    </div>
  </div>
</fieldset>
<% end %>

<hr>

<%= render partial: "newcoin", locals: { coin: @coin, submitText: "Create"} %>


	<div class="pure-menu pure-menu-horizontal pure-menu-scrollable">
		<ul class="pure-menu-list">
			 <li class="pure-menu-item"><%= link_to 'Back', coins_path(), { :class=>"pure-menu-link" } %></li>
		</ul>
	</div>
</div>